@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    flex-direction: column;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 300px;
}


a{
    text-decoration: none;
    color: rgb(82, 137, 189);
    font-family: 'Readex Pro', sans-serif;
    border:rgb(65, 103, 139) solid 3px ;
    padding: 15px;
    border-radius: 4px; 
}

.button > a:hover{
    color: white;
    background-color:rgb(65, 103, 139);
    transition: ease-in 0.2s;
}